form, #showButtons {   
    width: 300px; 
    margin: auto;
    color: white;
}

#showButtons, #editButtons, #newButtons {
    padding-bottom: 70px;
}

a {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-between;
}

.headingContainer {
    text-align: center;
    color: white;
}

.heading {
    background-color: transparent;
    color: beige;
    padding: 25px 0px;
    margin: 0px 0px;
}


.body1 {
    background-color: olive;
}

.body2 {
    background-image: url(/images/food.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 50%;
    padding-top: 20px;
    height: 800px;
}

.navBar {
    display: inline;
}

.navBarContainer {
    display: flex;
    padding: 0px 70px;
    background-color: olive;
}

.navbar-brand {
    color:cornsilk;
    font-weight:500;
}
