.headingContainer, #subheadingContainer {
    text-align: center;
    color: white;
}

#subheadingContainer {
    font-size: large;
}

.heading {
    background-color: transparent;
    color: white;
    border-bottom: 1px solid white;
    padding: 15px 0px;
    margin: 15px 0px;
}

.separateHorizontal {
    display: flex;
    justify-content: space-between;
}

.separateVertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

#allProductsButton, #cookingButton {
    color: white;
}

#container {
    text-align: center;
    margin-bottom: 10px;
}

#addProduct {
    color: white;
}

ul {
    list-style-type: none;
    width: auto;
}

#unorderedList {
    display: inline-block;
    text-align: left;
    padding: 5px;
    margin-top: 2px;
}

#unorderedListContainer {
    text-align: center;
}

body {
    background-image: url(/images/food.jpg);
    background-size: cover;
    background-attachment: fixed;
}

section {
    background-color: transparent;
}

li {
    border-radius: 10px;
    background-color: beige;
    margin: 5px 0px;
    font-size: x-large;
    padding: 0px 10px;
}

#search-input {
    width: 200px;
    height: 35px;
    padding: 10px;
    border-radius: 10px;
    border-width: 0px;
    font-size: large;

}

.card {
    margin: 0 auto; /* Added */
    margin-bottom: 20px; /* Added */
}

.navBar {
    display: inline;
}

.navBarContainer {
    display: flex;
    padding: 0px 70px;
    border-width: 0.5px;
    border-color:#7a431d;
    border-style:solid;
    
}

.navbar-brand {
    color:#7a431d;
    font-weight:500
}