#headingContainer, #subheadingContainer {
    text-align: center;
}

#heading {
    margin-top: 40px;
    background-color: aquamarine;
   
}

a {
    text-decoration: none;
}

#allProductsButton, #cookingButton {
    color: white;
}

#container {
    text-align: center;
}

#addProduct {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 3px;
    color: black;
}

ul {
    list-style-type: none;
    width: 200px;
}

#unorderedList {
    display: inline-block;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    margin-top: 2px;
}

#unorderedListContainer {
    text-align: center;
}






