<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>
    <form action="/products" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="product[title]">
        </div>
        <div>
            <label for="expiryDate">Expiry Date</label>
            <input type="date" id="expiryDate" name="product[expiryDate]">
        </div>
        <!---->
        <div>
            <label for="description">Description</label>
            <br>
            <textarea name="product[description]" id="description" cols="30" rows="10"></textarea>
        </div>
        <!---->
        <button>Add Product</button>
        <button><a href="/products">All Products</a></button>
        
    </form>
</body>
</html>